.same1{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
}
.same2{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
}
.same3{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
}

body{
    background-color:#3bd5e3;
}


.green{
    width: 200px;
    height: 200px;
    background:green;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
}

.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

