.infotext{
    font-size: 40px;
}

.information-below{
    margin-top: 55px;
    font-size: 25px;
    text-align: center;
    width: 500px;
}

#inner-text{
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

#bestscore{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}